@mixin clearfix() {

    &::after {


        content: '';
        display: table;
        clear: both
    }

    ;

}

@mixin gradiantcolor($color1, $color2) {

    display: inline-block;
    background-image: linear-gradient(to right bottom,
            $color1, $color2 );
    -webkit-background-clip: text;
    color: transparent;

}