//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;


//grid


//font size
$default-font-size: 1.6rem;
///Colors
$color-red: #ee4e4e;
$color-primary: #55c57a;
$color-primary-lighten: #7ed56f;
$color-primary-darken: #28b485;
$color-secondary: #6fc9d5;
$color-secondary-middel: #ca44b8;
$color-secondary-darken: #b428a1;
$color-tertiary-dark: #006769;
$color-tertiary-light: #40A578;
$color-coustom-light: #E6FF94;
$color-gray-dark: #777;
$color-gray-dark-2: #3a3a3a;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
/// Colors